<!DOCTYPE html>
<html xmlns:th="http://www.thymelaef.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link th:href="@{/styles/style_createworkplace_form.css}" rel="stylesheet" />
    <title>ISG Assist - Çalışma Alanı Oluştur</title>
</head>

<body>
    <nav>
    <div class="nav-buttons">
        <div class="user-button">
            <a th:href="@{/user_panel}">
                <i class="fa-solid fa-helmet-safety"></i>
                [[${#request.userPrincipal.principal.fullName}]]
            </a>
        </div>

        <div class="create-workplace-button">
            <a href="http://">Çalışma Alanı Oluştur</a>
        </div>

        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Çıkış Yap" class="logoff-button" />
        </form>
    </div>
</nav>

    <main>
        <div class="container">
            <h1>Çalışma Alanı Oluştur</h1>
            <p>Her şirket için özel çalışma alanları oluşturun.</p>
            <form>
                <input type="text" name="workplaceName" placeholder="Adını giriniz" required>
                <button type="submit">Oluştur</button>
            </form>
        </div>
    </main>
    <script type="text/javascript" th:src="@{/js/script_user_panel.js}"></script>
</body>

</html>