<!DOCTYPE html>
<html xmlns:th="http://www.thymelaef.org">

<head>
    <meta charset="UTF-8">
    <link th:href="@{/styles/style_index.css}" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap" rel="stylesheet">
    <title>ISG Assist - Giriş Yap veya Kaydol</title>
</head>

<body>
<main>
    <div class="left">
        <div class="text">
            <h1>ISG ASSIST</h1>
            <span class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras nunc arcu,
                    porttitor in ex luctus, iaculis viverra magna. Quisque sollicitudin gravida nunc, vel lacinia tortor
                    convallis in.</span>
        </div>
    </div>

    <div class="right">
        <div class="navigation">
            <h1>HOŞ GELDİNİZ</h1>
            <div class="login"><a th:href="@{/login}">Giriş Yap</a></div>
            <span>veya</span>
            <div class="signup"><a th:href="@{/register}">Hesap Oluştur</a></div>
        </div>
    </div>
</main>
<footer>
    <span>© 2023 Bora Beşiktepe</span>
</footer>
</body>

</html>