<!DOCTYPE html>
<html xmlns:th="http://www.thymelaef.org">

<head>
    <meta charset="UTF-8">
    <link th:href="@{/styles/style_index.css}" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <title>ISG Assist - Giriş Yap veya Kaydol</title>
</head>

<body>
<main>
    <div class="left">
        <div class="text">
            <h1><i class="fa-solid fa-helmet-safety"></i> ISG ASSIST</h1>
            <p class="description">Danışmanlık yaptığınız şirketlerin her birini ayrı çalışma alanlarında saklayın ve yönetin.</p>
        </div>
    </div>
    <div class="right">
        <div class="navigation">
            <h1>HOŞ GELDİNİZ</h1>
            <div class="login"><a th:href="@{/login}">Giriş Yap</a></div> <span>veya</span>
            <div class="signup"><a th:href="@{/register}">Hesap Oluştur</a></div>
        </div>
    </div>
</main>
<footer> <span>© 2023 Bora Beşiktepe</span> </footer>
</body>

</html>