<!DOCTYPE html>
<html xmlns:th="http://www.thymelaef.org">

<head>
    <meta charset="UTF-8">
    <link th:href="@{/styles/style_signup_form.css}" rel="stylesheet" />
    <title>Giriş Yapın</title>
</head>

<body>
<div class="container">
    <h1>Giriş Yapın</h1>
    <form th:action="@{/login}" method="post">

        <div th:if="${param.error}">
            <span>Kullanıcı bilgileri hatalı.</span>
        </div>

        <div class="input-group">
            <label for="username">E-Mail adresiniz</label>
            <input type="text" id="username" name="email" class="form-control" required="" autofocus="">
        </div>

        <div class="input-group">
            <label for="password">Şifreniz</label>
            <input type="password" id="password" name="password" class="form-control" required="">
        </div>

        <button type="submit">Giriş Yap</button>
    </form>
</div>
<footer>
    <span>© 2023 Bora Beşiktepe</span>
</footer>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
</body>

</html>