<!DOCTYPE html>
<html xmlns:th="http://www.thymelaef.org">
<head>
	<meta charset="UTF-8">
	<title>Kaydolma - Başarılı</title>
	<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
</head>
<body>
	<div class="container">
		<div class="jumbotron text-center">
			<h1>İş Sağlığı ve Güvenliği Platformu</h1>
		</div>
		<div class="text-center">
			<h3>Başarıyla Kayıt Oldunuz</h3>
			<h4><a th:href="@{/login}">Giriş Yapmak İçin Tıklayın</a></h4>
		</div>
	</div>
</body>
</html>