<!DOCTYPE html>
<html xmlns:th="http://www.thymelaef.org">

<head>
    <meta charset="UTF-8">
    <link th:href="@{/styles/style_signup_form.css}" rel="stylesheet" />
    <title>Hesap Oluşturun</title>
</head>

<body>
    <div class="container">
        <h1>Hesap Oluşturun</h1>
        <form th:action="@{/process_register}" th:object="${user}" method="post">
            <div class="input-group">
                <label for="email">E-mail adresiniz</label>
                <input type="email" id="email" th:field="*{email}" required />
            </div>
            <div class="input-group">
                <label for="password">Şifreniz (6 veya daha fazla karakter)</label>
                <input type="password" id="password" th:field="*{password}" required minlength="6" maxlength="10" />
            </div>
            <div class="input-group">
                <label for="firstName">Adınız</label>
                <input type="text" id="firstName" th:field="*{firstName}" required minlength="2" maxlength="20" />
            </div>
            <div class="input-group">
                <label for="lastName">Soyadınız</label>
                <input type="text" id="lastName" th:field="*{lastName}" required minlength="2" maxlength="20" />
            </div>
            <button type="submit">Hesap Oluştur</button>
        </form>
    </div>
    <footer>
        <span>© 2023 Bora Beşiktepe</span>
    </footer>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
</body>

</html>