<!DOCTYPE html>
<html xmlns:th="http://www.thymelaef.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link th:href="@{/styles/style_user_panel.css}" rel="stylesheet" />
    <title>ISG Assist - [[${#request.userPrincipal.principal.fullName}]]</title>
</head>

<body>
    <nav>
        <div class="user-button">
            <a th:href="@{/user_panel}">
                <i class="fa-solid fa-helmet-safety"></i>
                [[${#request.userPrincipal.principal.fullName}]]
                <p class="userId" th:text="${userId}"></p>
            </a>
        </div>

        <div class="training-button">
            <a href="http://">Eğitimler</a>
        </div>

        <div class="risk-button"><a href="http://">Risk Değerlendirme</a></div>

        <div class="workplace-select">
            <label>Çalışma alanları</label>
            <select>
                <option value="" disabled selected>Seçeneğinizi seçin</option>
            </select>
        </div>

        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Çıkış Yap" class="logoff-button" />
        </form>
    </nav>

    <main>
        <div class="container">
            <h1>Panelim</h1>
            <div class="workplace-management">
                <h2>Çalışma Alanlarım</h2>
                <ul>

                </ul>
            </div>
            <div class="workplace-controls">
                <input type="text" placeholder="Çalışma alanı adı giriniz">
                <button class="add">Ekle</button>
                <button class="remove">Çıkar</button>
            </div>

            <div class="bottom-menu">
                <div class="training-management">
                    <h2>Dökümanlarım</h2>
                    <ul>
                        <li>Döküman 1.pdf</li>
                        <li>Döküman 2.docx</li>
                    </ul>
                    <div class="training-controls">
                        <form>
                            <input type="file" id="myfile" name="myfile" required>
                            <input type="submit">
                        </form>
                    </div>
                </div>

                <div class="notes">
                    <form id="notes">
                        <h2>Notlarım</h2>
                        <textarea form="notes" maxlength="250"></textarea>
                        <button type="submit">Kaydet</button>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <script type="text/javascript" th:src="@{/js/script_user_panel.js}"></script>
</body>

</html>