<!DOCTYPE html>
<html xmlns:th="http://www.thymelaef.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link th:href="@{/styles/style_user_createworkplace.css}" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap" rel="stylesheet">
    <title>ISG Assist - Çalışma Alanı Oluştur</title>
</head>

<body>
    <nav>
    <div class="nav-buttons">
        <div class="user-button">
            <a th:href="@{/user_panel}">
                <i class="fa-solid fa-helmet-safety"></i>
                [[${#request.userPrincipal.principal.fullName}]]
                <i class="fa-solid fa-angle-right"></i>
            </a>
        </div>

        <div class="create-workplace-button">
            <a th:href="@{/create_workplace}">Çalışma Alanı Oluştur</a>
        </div>

        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Çıkış Yap" class="logoff-button" />
        </form>
    </div>
</nav>

    <main>
        <div class="container">
            <h1>Çalışma Alanı Oluştur</h1>
            <p>Her şirket için özel çalışma alanları oluşturun.</p>
            <form id="form-create-workplace" method="post">
                <input type="hidden" id="userId" name="userId" value="1"/>
                <input id="name" type="text" name="name" placeholder="Adını giriniz" required>
                <input id="description" type="text" name="description" placeholder="Açıklamasını giriniz" required>
                <button type="submit">Oluştur</button>
            </form>

            <p id="message"></p>
        </div>
    </main>
    <footer> <span>© 2023 Bora Beşiktepe</span> </footer>
    <script type="text/javascript" th:src="@{/js/script_createworkplace.js}"></script>
</body>

</html>