<!DOCTYPE html>
<html xmlns:th="http://www.thymelaef.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link th:href="@{/styles/style_user_panel.css}" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap" rel="stylesheet">
    <title>ISG Assist - [[${#request.userPrincipal.principal.fullName}]]</title>
</head>

<body>
    <nav>
    <div class="nav-buttons">
        <div class="user-button">
            <a th:href="@{/user_panel}" alt="Ana Sayfa">
                <i class="fa-solid fa-helmet-safety"></i>
                [[${#request.userPrincipal.principal.fullName}]]
                <i class="fa-solid fa-angle-right"></i>
            </a>
        </div>

        <div class="create-workplace-button">
            <a th:href="@{/create_workplace}">Çalışma Alanı Oluştur</a>
        </div>

        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Çıkış Yap" class="logoff-button" />
        </form>
    </div>
</nav>

    <main>
        <div class="container">
            <h1><i class="fa-solid fa-circle-user"></i> Panelim</h1>
            <div class="workplace-management">
                <h2><i class="fa-solid fa-briefcase"></i> Çalışma Alanlarım</h2>
                <ul>

                </ul>
            </div>

            <div class="bottom-menu">
                <div class="todolist-management">
                    <h2><i class="fa-solid fa-clipboard-list"></i> Yapılacaklar Listem</h2>
                    <ul>
                    </ul>
                    <div class="todolist-controls">
                        <form id="todo-form" method="post">
                            <input type="hidden" id="userId" name="userId" th:value="${userId}"/>
                            <input id="todo-input" type="text" name="todoItem" placeholder="Madde ekleyin" required>
                            <div class="todolist-buttons">
                                <button class="add" type="submit">Ekle</button>
                                <button id="clear" formnovalidate>Temizle</button>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="notes">
                    <h2><i class="fa-solid fa-note-sticky"></i></i> Notlarım</h2>
                    <form id="notes-form" method="post">
                        <textarea name="note" placeholder="Kendinize not alın.. (Maksimum 250 karakter)" maxlength="250"></textarea>
                        <button type="submit">Kaydet</button>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <script type="text/javascript" th:src="@{/js/script_user_panel.js}"></script>
</body>

</html>