<!DOCTYPE html>
<html xmlns:th="http://www.thymelaef.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link th:href="@{/styles/style_users.css}" rel="stylesheet" />
    <title>Panelim</title>
</head>

<body>
    <nav>
        <div class="user-button">
            <a th:href="@{/user_panel}">
                <i class="fa-solid fa-helmet-safety"></i>
                [[${#request.userPrincipal.principal.fullName}]]
                <p class="userId" th:text="${userId}"></p>
            </a>
        </div>

        <div class="training-button">
            <a href="http://">Eğitimler</a>
        </div>

        <div class="risk-button"><a href="http://">Risk Değerlendirme</a></div>

        <div class="workplace-select">
            <label>Çalışma alanları</label>
            <select>
                <option value="sirket1">Şirket 1</option>
                <option value="sirket2">Şirket 2</option>
                <option value="sirket3">Şirket 3</option>
                <option value="sirket4">Şirket 4</option>
                <option value="sirket5">Şirket 5</option>
            </select>
        </div>

        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Çıkış Yap" class="logoff-button" />
        </form>
    </nav>
    <main>
        <div class="container">
            <h1>Panelim</h1>
            <div class="workplace-management">
                <h2>Çalışma Alanlarım</h2>
                <ul>
                    <li>Şirket 1</li>
                    <li>Şirket 2</li>
                    <li>Şirket 3</li>
                    <li>Şirket 4</li>
                </ul>
            </div>
            <div class="workplace-controls">
                <input type="text" placeholder="İş yeri adı giriniz">
                <a href="http://">Ekle</a>
                <a href="http://">Çıkar</a>
            </div>
            <div class="bottom-menu">
                <div class="training-management">
                    <h2>Dökümanlarım</h2>
                    <ul>
                        <li>Döküman 1.pdf</li>
                        <li>Döküman 2.docx</li>
                        <li>Döküman 3.pdf</li>
                        <li>Döküman 4.pdf</li>
                    </ul>
                    <div class="training-controls">
                        <p>Dökümanlarınıza gözatın...</p>
                        <a href="http://">Gözat</a>
                        <a href="http://">Yükle</a>
                    </div>
                </div>

                <div class="notes">
                    <h2>Notlarım</h2>
                    <textarea></textarea>
                    <a href="http://">Kaydet</a>
                </div>
            </div>
        </div>
    </main>
    <script type="text/javascript" th:src="@{/js/script.js}"></script>
</body>

</html>