<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link th:href="@{/styles/style_workplace_riskgraphs.css}" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap" rel="stylesheet">
    <title th:text="|Grafikler - ${workplace.workplaceName}|"></title>
</head>

<body>
<nav>
    <div class="nav-buttons">
        <div class="user-button">
            <a th:href="@{/user_panel}">
                <i class="fa-solid fa-helmet-safety"></i>
                [[${#request.userPrincipal.principal.fullName}]]
                <i class="fa-solid fa-angle-right"></i>
            </a>
        </div>

        <div class="workplace-button">
            <a th:href="@{/workplace_panel/} + ${workplace.id}">[[${workplace.workplaceName}]]
                <i class="fa-solid fa-angle-right"></i>
            </a>
        </div>

        <div class="risk-button">
            <a th:href="@{/riskassesment/} + ${workplace.id}">Risk Değerlendirme</a>
        </div>

        <div class="graph-button">
            <a th:href="@{/riskgraphs/} + ${workplace.id}">Grafikler</a>
        </div>

        <div class="training-button">
            <a th:href="@{/trainings/} + ${workplace.id}">Eğitimler</a>
        </div>

        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Çıkış Yap" class="logoff-button" />
        </form>
    </div>
</nav>

<main>
    <div class="container">
        <h1><i class="fa-solid fa-chart-pie"></i> [[${workplace.workplaceName}]] Grafikler</h1>
        <input type="hidden" id="workplaceId" th:value="${workplace.id}">

        <div class="graphs">
            <canvas id="chart-encok-tehlike-tekrar"></canvas>
            <canvas id="chart-en-tehlikeli-yerekipman"></canvas>
            <canvas id="chart-tehlike-adi-toplamRisk"></canvas>
            <canvas id="chart-tehlike-adi-toplamSonRisk"></canvas>
            <canvas id="chart-yer-ekipman-toplamRisk"></canvas>
            <canvas id="chart-yer-ekipman-toplamSonRisk"></canvas>
        </div>
    </div>
</main>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<script type="text/javascript" th:src="@{/js/script_workplace_riskgraphs.js}"></script>
</body>

</html>