<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org/">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
  <link th:href="@{/styles/style_workplace_settings.css}" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap" rel="stylesheet">
  <title th:text="|Ayarlar - ${workplace.workplaceName}|"></title>
</head>

<body>
<nav>
  <div class="nav-buttons">
    <div class="user-button">
      <a th:href="@{/user_panel}">
        <i class="fa-solid fa-helmet-safety"></i>
        [[${#request.userPrincipal.principal.fullName}]]
      </a>
    </div>

    <div class="training-button">
      <a th:href="@{/trainings/} + ${workplace.id}">Eğitimler</a>
    </div>

    <div class="risk-button">
      <a th:href="@{/riskassesment/} + ${workplace.id}">Risk Değerlendirme</a>
    </div>

    <div class="settings-button"><a href="">Ayarlar</a></div>

    <form th:action="@{/logout}" method="post">
      <input type="submit" value="Çıkış Yap" class="logoff-button" />
    </form>
  </div>
</nav>

<main>
  <div class="container">
    <h1 th:text="|${workplace.workplaceName} Ayarlar|"></h1>

    <form id="form-update">
      <p>Çalışma alanı adını veya açıklamasını değiştirin</p>
      <input type="hidden" id="workplaceId" th:value="${workplace.id}">
      <input id="name" type="text" name="workplaceName" placeholder="Yeni adını giriniz" required>
      <input id="description" type="text" name="workplaceDescription" placeholder="Yeni açıklamasını giriniz"
             required>
      <button type="submit">Güncelle</button>
    </form>

    <form id="form-delete">
      <p>Çalışma alanını silin</p>
      <div class="check-box">
        <input type="checkbox" name="deleteConfirm" id="deleteConfirm" required>
        <label for="deleteConfirm">Çalışma alanını silmek istediğimden eminim.</label>
      </div>
      <button type="submit">Sil</button>
    </form>

  </div>
</main>

<script type="text/javascript" th:src="@{/js/script_workplace_settings.js}"></script>
</body>
</html>