<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org/">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
  <link th:href="@{/styles/style_workplace_risks.css}" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap" rel="stylesheet">
  <title th:text="|Risk Değerlendirme - ${workplace.workplaceName}|"></title>
</head>

<body>
<nav>
  <div class="nav-buttons">
    <div class="user-button">
      <a th:href="@{/user_panel}">
        <i class="fa-solid fa-helmet-safety"></i>
        [[${#request.userPrincipal.principal.fullName}]]
      </a>
    </div>

    <div class="training-button">
      <a th:href="@{/trainings}">Eğitimler</a>
    </div>

    <div class="risk-button">
      <a th:href="@{/riskassesment/} + ${workplace.id}">Risk Değerlendirme</a>
    </div>

    <form th:action="@{/logout}" method="post">
      <input type="submit" value="Çıkış Yap" class="logoff-button" />
    </form>
  </div>
</nav>

<main>
  <div class="container">
    <h1 th:text="|${workplace.workplaceName} Risk Değerlendirme|"></h1>
    <form id="risk-assesment">
      <table>
        <thead>
        <tr>
          <th>ID</th>
          <th>Genel Tehlike Adı</th>
          <th>Yer/Ekipman</th>
          <th>Mevcut Tehlikeler</th>
          <th>Oluşacak Riskler</th>
          <th>Mevcut Önlemler</th>
          <th>Maruz Kalanlar</th>
          <th class="vertical">Şiddet</th>
          <th class="vertical">Olasılık</th>
          <th class="vertical">Risk</th>
          <th>Alınacak Tedbirler</th>
          <th class="vertical">S. Şiddet</th>
          <th class="vertical">S. Olasılık</th>
          <th class="vertical">S. Risk</th>
        </tr>
        </thead>
        <tbody id="table_body">
        <tr>

        </tr>
        </tbody>
      </table>

      <div class="table-inputs">
        <input type="hidden" id="workplaceId" th:value="${workplace.id}">
        <div class="left">
          <input type="text" name="tehlikeAdi" id="tehlikeAdi" placeholder="Genel Tehlike Adı">
          <input type="text" name="yerEkipman" id="yerEkipman" list="yerErkipman-list"
                 placeholder="Yer/Ekipman">
          <datalist id="yerErkipman-list">
            <option value="Makina atölyesi">
            <option value="Depo alanı">
            <option value="İnşaat alanı">
            <option value="Elektrik odası">
            <option value="Laboratuvar">
            <option value="İş Ofisi">
            <option value="Mutfak">
            <option value="Paketleme Bölümü">
            <option value="Veri Merkezi">
            <option value="Montaj Hattı">
            <option value="Yangın Merdiveni">
            <option value="Forklift">
            <option value="Vinç">
            <option value="Yüksek Gerilim anahtarı">
            <option value="Kimyasal Fırın">
            <option value="Kesme makinesi">
            <option value="Kompresör">
            <option value="Merdiven">
            <option value="Jeneratör">
            <option value="Klima Sistemi">
            <option value="Asansör">
          </datalist>
          <input type="text" name="mevcutTehlikeler" id="mevcutTehlikeler" list="mevcutTehlikeler-list"
                 placeholder="Mevcut Tehlikeler">
          <datalist id="mevcutTehlikeler-list">
            <option value="Yüksekten düşme">
            <option value="Kesici aletler">
            <option value="Kimyasallar">
            <option value="Elektrik">
            <option value="İskeleler">
            <option value="Yanıcı maddeler">
            <option value="Yük taşıma">
            <option value="Gürültü">
            <option value="Radyasyon">
            <option value="Yetersiz aydınlatma">
            <option value="Termal tehlikeler">
            <option value="Hava kalitesi">
            <option value="Zeminler">
          </datalist>
          <input type="text" name="olusacakRiskler" id="olusacakRiskler" list="olusacakRiskler-list" placeholder="Oluşacak Riskler">
          <datalist id="olusacakRiskler-list">
            <option value="Yükseklikten düşme">
            <option value="Malzeme düşmesi">
            <option value="Elektrik çarpması">
            <option value="Zehirlenme">
            <option value="İş kazaları">
            <option value="İşitme kaybı">
            <option value="Göz yaralanmaları">
            <option value="Düşme">
            <option value="Kesilmeler ve yaralanmalar">
            <option value="Sıcaklık değişimleri">
            <option value="Alerjik reaksiyonlar">
            <option value="Çevresel faktörler">
          </datalist>
          <input type="text" name="mevcutOnlemler" id="mevcutOnlemler" placeholder="Mevcut Önlemler">
          <input type="text" name="maruzKalanlar" id="maruzKalanlar" list="maruzKalanlar-list"
                 placeholder="Maruz Kalanlar">
          <datalist id="maruzKalanlar-list">
            <option value="Çalışanlar">
            <option value="İşçiler">
            <option value="Ziyaretçiler">
            <option value="Yükleniciler">
            <option value="Temizlik görevlileri">
            <option value="Bakım görevlileri">
            <option value="Güvenlik görevlileri">
            <option value="Mühendisler">
            <option value="Yöneticiler">
            <option value="Müşteriler">
            <option value="İlk yardım görevlileri">
            <option value="Ziyaretçiler">
            <option value="Araştırmacılar">
            <option value="İşyeri dışındakiler">
          </datalist>
          <input type="number" name="siddet" id="siddet" placeholder="Şiddet (1-15)" min="1" max="25">
          <input type="number" name="olasilik" id="olasilik" placeholder="Olasılık (1-15)" min="1" max="25">
          <input type="number" name="risk" id="risk" placeholder="Risk (1-15)" min="1" max="25">
        </div>
        <div class="right">
          <input type="text" name="alinacakTedbirler" id="alinacakTedbirler" placeholder="Alınacak Tedbirler">
          <input type="number" name="sSiddet" id="sSiddet" placeholder="S. Şiddet (1-15)" min="1" max="25">
          <input type="number" name="sOlasilik" id="sOlasilik" placeholder="S. Olasılık (1-15)" min="1"
                 max="25">
          <input type="number" name="sRisk" id="sRisk" placeholder="S. Risk (1-15)" min="1" max="25">
        </div>
      </div>
      <button type="submit">Ekle</button>
    </form>
  </div>
</main>
<script type="text/javascript" th:src="@{/js/script_workplace_risks.js}"></script>
</body>

</html>