<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link th:href="@{/styles/style_workplace_panel.css}" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap" rel="stylesheet">
    <title th:text="|Çalışma Alanı - ${workplace.workplaceName}|"></title>
</head>

<body>
<nav>
    <div class="nav-buttons">
        <div class="user-button">
            <a th:href="@{/user_panel}">
                <i class="fa-solid fa-helmet-safety"></i>
                [[${#request.userPrincipal.principal.fullName}]]
                <i class="fa-solid fa-angle-right"></i>
            </a>
        </div>

        <div class="workplace-button">
            <a th:href="@{/workplace_panel/} + ${workplace.id}">[[${workplace.workplaceName}]]
                <i class="fa-solid fa-angle-right"></i>
            </a>
        </div>

        <div class="risk-button">
            <a th:href="@{/riskassesment/} + ${workplace.id}">Risk Değerlendirme</a>
        </div>

        <div class="graph-button">
            <a th:href="@{/riskgraphs/} + ${workplace.id}">Grafikler</a>
        </div>

        <div class="training-button">
            <a th:href="@{/trainings/} + ${workplace.id}">Eğitimler</a>
        </div>

        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Çıkış Yap" class="logoff-button" />
        </form>
    </div>
</nav>

<main>
    <div class="container">
        <h1 class="sectiontitle"><i class="fa-solid fa-building"></i> [[${workplace.workplaceName}]]</h1>
        <p class="workplace-description" th:text ="${workplace.workplaceDescription}"></p>

        <div id="risk-ozet">
            <h2>Risk Değerlendirme Özeti</h2>
            <div id="risk-infos"></div>
        </div>

        <div class="trainings-management">
            <h2>Eğitim Dökümanları</h2>
            <p id="document-info">Eğitimler kısmında sunumlarınızı yapabilmek için PDF formatında yükleme yapınız.</p>

            <ul id="document-list">

            </ul>

            <div class="training-controls">
                <form id="uploadForm" method="post" th:action="@{/files/upload/} + ${workplace.id}" enctype="multipart/form-data">
                    <input id="input-file" type="file" name="file" />
                    <button type="submit">Yükle</button>
                    <button id="clear" formnovalidate>Temizle</button>
                </form>
            </div>

        </div>

        <div class="middle-menu">
            <div class="contact-section">
                <form id="form-contact" method="post">
                    <h2>İletişim Bilgileri</h2>
                    <input type="hidden" id="workplaceId" th:value="${workplace.id}">
                    <div class="input-box">
                        <label for="address">Adres</label>
                        <input type="text" name="address" id="address">
                    </div>

                    <div class="input-box">
                        <label for="cities">Şehir</label>

                        <select name="cities" id="cities">
                            <option value="" id="defaultValue"></option>
                        </select>
                    </div>

                    <div class="input-box">
                        <label for="mail">Mail</label>
                        <input type="text" name="mail" id="mail">
                    </div>

                    <div class="input-box">
                        <label for="phone">Telefon</label>
                        <input type="text" name="phone" id="phone">
                    </div>

                    <div class="input-box">
                        <label for="contactperson">İlgili kişi</label>
                        <input type="text" name="contactperson" id="contactperson">
                    </div>

                    <div class="input-box">
                        <label for="contactpersonPhone">İlgili kişi telefonu</label>
                        <input type="text" name="contactpersonPhone" id="contactpersonPhone">
                    </div>

                    <button id="add" type="submit">Kaydet</button>
                </form>
                <button id="update">Güncelle</button>
            </div>

            <div class="workplace-settings-section">
                <form id="form-update">
                    <h2>Çalışma alanı bilgileri</h2>
                    <div class="input-box">
                        <label for="name">Çalışma alanı adı</label>
                        <input id="name" type="text" name="workplaceName" th:value="${workplace.workplaceName}" placeholder="Yeni adını giriniz" required>
                    </div>

                    <div class="input-box">
                        <label for="description">Çalışma alanı açıklaması</label>
                        <input id="description" type="text" name="workplaceDescription" th:value="${workplace.workplaceDescription}" placeholder="Yeni açıklamasını giriniz"
                           required>
                    </div>
                    <button type="submit">Güncelle</button>
                </form>
            </div>
        </div>

    </div>
</main>
<footer> <span>© 2023 Bora Beşiktepe</span> </footer>
<script type="text/javascript" th:src="@{/js/script_workplace_panel.js}"></script>
</body>

</html>