<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org/">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
  <link th:href="@{/styles/style_workplace_risks.css}" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap" rel="stylesheet">
  <title th:text="|Risk Değerlendirme - ${workplace.workplaceName}|"></title>
</head>

<body>
<nav>
  <div class="nav-buttons">
    <div class="user-button">
      <a th:href="@{/user_panel}">
        <i class="fa-solid fa-helmet-safety"></i>
        [[${#request.userPrincipal.principal.fullName}]]
        <i class="fa-solid fa-angle-right"></i>
      </a>
    </div>

    <div class="workplace-button">
      <a th:href="@{/workplace_panel/} + ${workplace.id}">[[${workplace.workplaceName}]]
        <i class="fa-solid fa-angle-right"></i>
      </a>
    </div>

    <div class="risk-button">
      <a th:href="@{/riskassesment/} + ${workplace.id}">Risk Değerlendirme</a>
    </div>

    <div class="graph-button">
      <a th:href="@{/riskgraphs/} + ${workplace.id}">Grafikler</a>
    </div>

    <div class="training-button">
      <a th:href="@{/trainings/} + ${workplace.id}">Eğitimler</a>
    </div>

    <form th:action="@{/logout}" method="post">
      <input type="submit" value="Çıkış Yap" class="logoff-button" />
    </form>
  </div>
</nav>

<main>
  <div class="container">
    <h1><i class="fa-solid fa-building-circle-exclamation"></i> [[${workplace.workplaceName}]] Risk Değerlendirme</h1>

    <div id="scroll-buttons">
      <button id="scrollToTop">En Üste Git</button>
      <button id="scrollToInputs">Veri Eklemeye Git</button>
    </div>

    <div class="top-buttons">
      <div class="risk-matris">
        <a th:href="@{/risk-matrisi.png}" target="_blank">
          <i class="fa-solid fa-circle-info"></i>
          Risk Matrisi
        </a>
      </div>

      <button onclick="exportToExcel('xlsx')">Tabloyu Excel olarak kaydet</button>
    </div>

    <p id="filter-info">Tablo Filtreleri</p>
    <div class="table-filters">
      <select id="tehlike-select">
        <option value="" disabled selected>Tehlikeler</option>
        <option value="all">Tümü</option>
      </select>

      <select id="yer-ekipman-select">
        <option value="" disabled selected>Yer/Ekipman</option>
        <option value="all">Tümü</option>
      </select>

      <select id="maruz-kalanlar-select">
        <option value="" disabled selected>Maruz Kalanlar</option>
        <option value="all">Tümü</option>
      </select>

      <select id="risk-select">
        <option value="" disabled selected>Risk Seviyesi</option>
        <option value="all">Tümü</option>
        <option value="0-6">Az Tehlikeli</option>
        <option value="8-12">Tehlikeli</option>
        <option value="15-25">Çok Tehlikeli</option>
      </select>

      <select id="son-risk-select">
        <option value="" disabled selected>Son Risk Seviyesi</option>
        <option value="all">Tümü</option>
        <option value="0-6">Az Tehlikeli</option>
        <option value="8-12">Tehlikeli</option>
        <option value="15-25">Çok Tehlikeli</option>
      </select>
    </div>

    <form id="risk-assesment">
      <table id="risk-table">
        <thead>
        <tr>
          <th colspan="10">Tehlikeye Göre İlk Risk Seviyesi Belirlenmesi</th>
          <th colspan="4">Tehlikelere Göre Alınacak Önlemler</th>
        </tr>
        <tr>
          <th>Sıra No</th>
          <th>Genel Tehlike Adı</th>
          <th>Yer/Ekipman</th>
          <th>Mevcut Tehlikeler</th>
          <th>Oluşacak Riskler</th>
          <th>Mevcut Önlemler</th>
          <th>Maruz Kalanlar</th>
          <th class="vertical">Şiddet</th>
          <th class="vertical">Olasılık</th>
          <th class="vertical">Risk</th>
          <th>Alınacak Tedbirler</th>
          <th class="vertical">S. Şiddet</th>
          <th class="vertical">S. Olasılık</th>
          <th class="vertical">S. Risk</th>
        </tr>
        </thead>
        <tbody id="table_body">
        <tr>
        </tr>
        </tbody>
      </table>

      <p class="input-desc">Tabloya veri ekleyin</p>
      <div class="table-inputs">
        <input type="hidden" id="workplaceId" th:value="${workplace.id}">
        <input type="hidden" id="riskId" value="">
        <div class="left">
          <label for="tehlikeAdi">Genel Tehlike Adı</label>
          <input type="text" name="tehlikeAdi" id="tehlikeAdi" list="tehlikeAdi-list" required>
          <datalist id="tehlikeAdi-list">
            <option value="Acil Durumlara Hazırlık">
            <option value="Amaçlı merdivenler">
            <option value="Asbest Riski"></option>
            <option value="Biyolojik Risk Etmenleri">
            <option value="Biyometrik Veri Güvenliği"></option>
            <option value="Çalışanların Yönetimi">
            <option value="Çalışma İzinleri">
            <option value="Çalışma Yöntem Bildirimleri">
            <option value="Çevresel Konular">
            <option value="Dar Mekanlarda Çalışma">
            <option value="Dijital Siber Güvenlik"></option>
            <option value="Dikkat Dağıtıcı Faktörler"></option>
            <option value="Dinlenme Olanakları">
            <option value="Eğitim ve İletişim">
            <option value="Ekranlı Araçlar ile Çalışma">
            <option value="El Merdivenler">
            <option value="Elektrik Güvenliği">
            <option value="Elle Taşıma Güvenliği">
            <option value="Ergonomi">
            <option value="Fiziksel Risk Etmenleri">
            <option value="Gece Çalışmaları">
            <option value="Genel">
            <option value="Gürültü Riski"></option>
            <option value="Güvenlik ve Sağlık İşaretleri">
            <option value="İş Stresi"></option>
            <option value="İşyerinde Yabancı Cisimler"></option>
            <option value="İşyerinde Zorbalık"></option>
            <option value="İşyeri, Bina ve Eklentileri">
            <option value="Kapalı Alanlar">
            <option value="Kaynak İşleri">
            <option value="Kazan Dairesi">
            <option value="Kilitleme ve Etiketleme">
            <option value="Kimyasal Risk Etmenleri">
            <option value="Kimyasallar">
            <option value="Makine ve Ekipmanlar">
            <option value="Olayların Bildirimi, Araştırılması ve Analizi">
            <option value="Performans İzleme">
            <option value="Psikososyal Risk Etmenleri">
            <option value="Radyasyon Güvenliği"></option>
            <option value="Risk Analizi ve Değerlendirilmesi">
            <option value="Risk Etmenleri">
            <option value="Sağlık Gözetimi">
            <option value="Sürekli İyileştirme">
            <option value="Temizlik ve Düzen">
            <option value="Tuvaletler">
            <option value="Üçüncü Şahıs ve Yönetimi">
            <option value="Yangın Güvenliği"></option>
            <option value="Yemekhane">
          </datalist>

          <label for="yerEkipman">Yer/Ekipman</label>
          <input type="text" name="yerEkipman" id="yerEkipman" list="yerErkipman-list">
          <datalist id="yerErkipman-list">
            <option value="Asansör">
            <option value="Asit tankı">
            <option value="Bahçe sulama pompası">
            <option value="Biyoloji laboratuvarı">
            <option value="Boru hatları">
            <option value="Çamaşırhane"></option>
            <option value="Çatı işleri">
            <option value="Depo alanı">
            <option value="Dökümhane">
            <option value="Elektrik odası">
            <option value="Forklift">
            <option value="Güvenlik kamerası">
            <option value="Gıda hazırlama bölümü">
            <option value="İnşaat alanı">
            <option value="İş Ofisi">
            <option value="Jeneratör">
            <option value="Kaynak makinesi">
            <option value="Kazan dairesi">
            <option value="Kesme aleti">
            <option value="Kesme makinesi">
            <option value="Kimyasal depolama alanı">
            <option value="Kimyasal Fırın">
            <option value="Klima Sistemi">
            <option value="Kompresör">
            <option value="Laboratuvar">
            <option value="Lastik imalatı makinesi">
            <option value="Makina atölyesi">
            <option value="Merdiven">
            <option value="Montaj Hattı">
            <option value="Mutfak">
            <option value="Paketleme Bölümü">
            <option value="Sağlık merkezi">
            <option value="Sulama sistemi">
            <option value="Uçuş kontrol kulesi">
            <option value="Üretim hattı">
            <option value="Veri Merkezi">
            <option value="Vinç">
            <option value="Yağlama ünitesi">
            <option value="Yangın Merdiveni">
            <option value="Yüksek Gerilim anahtarı">
            <option value="Yüzme havuzu">
          </datalist>

          <label for="mevcutTehlikeler">Mevcut Tehlikeler</label>
          <input type="text" name="mevcutTehlikeler" id="mevcutTehlikeler" list="mevcutTehlikeler-list">
          <datalist id="mevcutTehlikeler-list">
            <option value="Asbest, radyasyon veya toksik kimyasallar gibi zararlı maddelerin varlığı">
            <option value="Basınçlı kapların patlaması veya gaz kaçakları">
            <option value="Biyolojik tehlikeler, enfekte olmuş malzemeler veya patojenler">
            <option value="Çalışanların veya diğer kişilerin saldırı veya şiddet tehdidi altında olması">
            <option value="Doğal afet riskleri, örneğin depremler, fırtınalar veya seller">
            <option value="Elektrik">
            <option value="Ergonomik riskler, kötü duruş veya tekrarlayan hareketler nedeniyle yaralanmalar">
            <option value="Gürültü">
            <option value="Güvenlik sistemlerinin yetersizliği veya işlevsizliği">
            <option value="Hava kalitesi">
            <option value="Hijyenik koşulların yetersizliği veya işçi sağlığı açısından olumsuz etkileri olabilecek diğer faktörler">
            <option value="İş ekipmanlarının yetersiz bakımı veya onarımından kaynaklı arızalar">
            <option value="İskeleler">
            <option value="Kesici aletler">
            <option value="Kimyasallar">
            <option value="Kişisel koruyucu ekipmanların yetersiz kullanımı veya eksikliği">
            <option value="Psikososyal riskler, iş yükü, iş kaygısı veya mobbing gibi faktörler nedeniyle stres veya diğer sağlık problemleri">
            <option value="Radyasyon">
            <option value="Su altı çalışmaları veya yüksek irtifalarda yapılan işlerden kaynaklanan riskler">
            <option value="Su kaynakları, su birikintileri veya sel riskleri">
            <option value="Tehlikeli atıkların yetersiz saklanması veya bertaraf edilememesi">
            <option value="Termal tehlikeler">
            <option value="Trafik, araç kullanımı veya taşıma faaliyetlerinden kaynaklanan riskler">
            <option value="Yanıcı maddeler">
            <option value="Yetersiz aydınlatma">
            <option value="Yetersiz yangın söndürme sistemleri">
            <option value="Yük taşıma">
            <option value="Yüksekten düşme">
            <option value="Zeminlerin kaygan veya yetersiz olması nedeniyle kayma veya düşme riskleri">
            <option value="Zeminler">
          </datalist>

          <label for="olusacakRiskler">Oluşacak Riskler</label>
          <input type="text" name="olusacakRiskler" id="olusacakRiskler" list="olusacakRiskler-list">
          <datalist id="olusacakRiskler-list">
            <option value="Yükseklikten düşme">
            <option value="Malzeme düşmesi">
            <option value="Elektrik çarpması">
            <option value="Zehirlenme">
            <option value="İş kazaları">
            <option value="İşitme kaybı">
            <option value="Göz yaralanmaları">
            <option value="Düşme">
            <option value="Kesilmeler ve yaralanmalar">
            <option value="Sıcaklık değişimleri">
            <option value="Alerjik reaksiyonlar">
            <option value="Çevresel faktörler">
          </datalist>

          <label for="mevcutOnlemler">Mevcut Önlemler</label>
          <input type="text" name="mevcutOnlemler" id="mevcutOnlemler">

          <label for="maruzKalanlar">Maruz Kalanlar</label>
          <input type="text" name="maruzKalanlar" id="maruzKalanlar" list="maruzKalanlar-list">
          <datalist id="maruzKalanlar-list">
            <option value="Çalışanlar">
            <option value="İşçiler">
            <option value="Ziyaretçiler">
            <option value="Yükleniciler">
            <option value="Temizlik görevlileri">
            <option value="Bakım görevlileri">
            <option value="Güvenlik görevlileri">
            <option value="Mühendisler">
            <option value="Yöneticiler">
            <option value="Müşteriler">
            <option value="İlk yardım görevlileri">
            <option value="Ziyaretçiler">
            <option value="Araştırmacılar">
            <option value="İşyeri dışındakiler">
          </datalist>
        </div>
        <div class="right">
          <label for="siddet">Şiddet</label>
          <input type="number" name="siddet" id="siddet" list="siddet-list" placeholder="(1-5)" min="1" max="5">
          <datalist id="siddet-list">
            <option value="1">
            <option value="2">
            <option value="3">
            <option value="4">
            <option value="5">
          </datalist>

          <label for="olasilik">Olasılık</label>
          <input type="number" name="olasilik" id="olasilik" list="olasilik-list" placeholder="(1-5)" min="1" max="5">
          <datalist id="olasilik-list">
            <option value="1">
            <option value="2">
            <option value="3">
            <option value="4">
            <option value="5">
          </datalist>

          <label for="alinacakTedbirler">Alınacak Tedbirler</label>
          <input type="text" name="alinacakTedbirler" id="alinacakTedbirler">

          <label for="sSiddet">Son Şiddet</label>
          <input type="number" name="sSiddet" id="sSiddet" list="sonSiddet-list" placeholder="(1-5)" min="1" max="5">
          <datalist id="sonSiddet-list">
            <option value="1">
            <option value="2">
            <option value="3">
            <option value="4">
            <option value="5">
          </datalist>

          <label for="sOlasilik">Son Olasılık</label>
          <input type="number" name="sOlasilik" id="sOlasilik" list="sonOlasilik-list" placeholder="(1-5)" min="1" max="5">
          <datalist id="sonOlasilik-list">
            <option value="1">
            <option value="2">
            <option value="3">
            <option value="4">
            <option value="5">
          </datalist>
        </div>
      </div>

      <button id="add" type="submit">Ekle</button>
    </form>

    <p id="message"></p>

    <div id="table-buttons">
      <button id="update">Güncelle</button>
      <button id="delete">Sil</button>
    </div>

  </div>
</main>
<footer> <span>© 2023 Bora Beşiktepe</span> </footer>
<script type="text/javascript" src="https://unpkg.com/xlsx@0.15.1/dist/xlsx.full.min.js"></script>
<script type="text/javascript" th:src="@{/js/script_workplace_riskassesments.js}"></script>
</body>

</html>