<!DOCTYPE html>
<html xmlns:th="http://www.thymelaef.org">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
  <link th:href="@{/styles/style_workplace_trainings.css}" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap" rel="stylesheet">
  <title th:text="|Eğitimler - ${workplace.workplaceName}|"></title>
</head>

<body>

  <nav>
    <div class="nav-buttons">
      <div class="user-button">
        <a th:href="@{/user_panel}">
          <i class="fa-solid fa-helmet-safety"></i>
          [[${#request.userPrincipal.principal.fullName}]]
          <i class="fa-solid fa-angle-right"></i>
        </a>
      </div>

      <div class="workplace-button">
        <a th:href="@{/workplace_panel/} + ${workplace.id}" title="Çalışma Alanı Paneli">[[${workplace.workplaceName}]]
          <i class="fa-solid fa-angle-right"></i>
        </a>
      </div>

      <div class="risk-button">
        <a th:href="@{/riskassesment/} + ${workplace.id}" title="Risk Değerlendirme Tablosunu Yönetin">Risk Değerlendirme</a>
      </div>

      <div class="graph-button">
        <a th:href="@{/riskgraphs/} + ${workplace.id}" title="Risk Değerlendirme Tablosu Grafiklerini İnceleyin">Grafikler</a>
      </div>

      <div class="training-button">
        <a th:href="@{/trainings/} + ${workplace.id}" title="Eğitim Dökümanlarınızı Sunun">Eğitimler</a>
      </div>

      <form th:action="@{/logout}" method="post">
        <input type="submit" value="Çıkış Yap" class="logoff-button" />
      </form>
    </div>
  </nav>

  <main>
    <div class="container">
      <h1><i class="fa-solid fa-person-chalkboard"></i> [[${workplace.workplaceName}]] Eğitimler</h1>
      <input type="hidden" id="workplaceId" th:value="${workplace.id}">

      <div class="training-controls">
        <p>Sunum yapılacak dökümanı seçiniz</p>
        <ul>

        </ul>
        <div class="training-bottom">
          <p class="selected-file"></p>
          <button>Sunum Yap</button>
        </div>

      </div>

      <p id="message">Bu öğe yüklenmiyorsa <a id="document-link" href="" target="_blank">buradan açabilirsiniz.</a></p>
      <iframe src="" allowfullscreen height="1200" width="90%" style="border: none;"></iframe>
    </div>
  </main>
  <footer> <span>© 2023 Bora Beşiktepe</span> </footer>
  <script type="text/javascript" th:src="@{/js/script_workplace_trainings.js}"></script>
</body>
</html>