* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    transition: all .2s ease
}

:root {
    --primaryColor: #FFC40C;
    --primaryColorHover: #F2B700;
    --headerColor: #2E2E2C;
    --whiteHover: #EEE;
    --shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
}

body {
    font-family: 'Montserrat', monospace;
    font-size: 20px;
}

h1,
h2,
a,
button {
    color: var(--headerColor);
}

main {
    display: flex;
}

.left {
    display: flex;
    background: url(https://i.hizliresim.com/gferslr.jpg) no-repeat;
    background-position: right;
    background-color: var(--primaryColor);
    width: 50%;
    height: 100vh;
    border-radius: 0px 60px 60px 0px;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-weight: bold;
    margin-bottom: 70px;
    color: var(--headerColor);
}

.description {
    margin: 0 110px 0 110px
}

.right {
    display: flex;
    width: 50%;
    height: 100vh
}

.navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 25%
}

.login {
    margin-bottom: 34px
}

.login a {
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    padding: 28px 92px;
    border-radius: 20px;
    background-color: var(--primaryColor);
    box-shadow: var(--shadow)
}

.login a:hover {
    background-color: var(--primaryColorHover)
}

.signup {
    margin-top: 38px
}

.signup a {
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    padding: 28px 68px;
    border-radius: 20px;
    background-color: #FFF;
    box-shadow: var(--shadow)
}

.signup a:hover {
    background-color: var(--whiteHover)
}

footer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    position: fixed;
    bottom: 8px;
    padding: 20px;
    font-size: 10px
}